/*colors:
1.http://www.google.com/design/spec/style/color.html#color-color-palette for main blue
2.http://coolors.co/app/397367-63ccca-337ab7-05b2dc-35393c for rest
*/
h1{
  margin:0px;
}
.map {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    display: block;
}
.fill {
    min-height: 100%;
    height: 100%;
}
.box {
  margin-left: 0px;
}
.textleft {
  color:white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  padding:40px;
  font-size: 60px;
}
.textright {
  color:white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  padding:40px;
  margin-left:50vw;
  font-size: 50px;
}
.textspecial {
  color:#474747;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 10%;
  transform: translateY(-25%);
  width: 30vw;
  margin-left: 7vw;
  padding:40px;
  font-size: 2vw;
}
.texttitle {
  color:white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 7%;
  transform: translateY(-7%);
  padding:40px;
  font-size: 3vw;
}
#title{
  background: url("title.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#first {
  background: url("first.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#second {
  background: url("second.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#third {
  background: url("third.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*#thirdpicture{
  background: url("thirdpicture.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  min-height: 100%;
  display: inline-block;
}*/
#fourth {
  background: url("fourth.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body {
    height: 100%;
}
#bar {
  background-color:#2e2e2e;
  margin: 0;
  border: 0;
}
.navbar.navbar-default.nomargin.navbar-static-top .nav.navbar-nav{
    text-align: color: blue;
}
#logo {
  color: #b0b0b0;
}
.topthing{
  color:#F2F2F2;
}
html {
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}
#backgroundimage {
  height:50vh;
  background-image:url("Facebook-13.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center center;
}
.nomargin {
  margin:0;
}
.centerstuff {
  text-align:center;
}
#bottom li{
  list-style-type:none;
  display:inline-block;
  clear:none;
}
footer ul{
  background-color:#eee;
  padding:10px;
  margin:0px;
}
footer ul li {
  padding: 0px 5px;
}
#ueventheader li{
  clear:both;
  text-align:center;
  list-style-type:none;
}
#eventheader li{
  clear:both;
  text-align:center;
  list-style-type:none;
}
.row {
  margin:0px;
}
#sq{
  height:20px;
  width:20px;
}

/*6, 6+*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio : 2)  and (-webkit-max-device-pixel-ratio : 2.9) {
    html, body{
      width:100%;
      height:100%;
    }
    #backgroundimage {
    height:50%;
    background-attachment: scroll;
    }
  /*-webkit-background-size:cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment:scroll;
  body{
    height:100%;
    width:100%;
  }*/
}
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio : 3) and (-webkit-max-device-pixel-ratio : 3.9){
html, body{
      width:100%;
      height:100%;
    }
    #backgroundimage {
    height:50%;
    background-attachment: scroll;
    }
}
/*5,5S*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio : 2) and (-webkit-max-device-pixel-ratio : 2.9){
  html, body{
      width:100%;
      height:100%;
    }
    #backgroundimage {
    height:50%;
    background-attachment: scroll;
    }
  }
