/*spinner*/
body,html {
  width:100%;
  height:100%;
}
#loader-container {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1032; /*to ensure it shows on top; bootstrap has 1030*/
  background-color:white;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  z-index: 1033;
  border-radius:50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
#loader:before{
  content:"";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #05B2DC;
  border-radius:50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #63CCCA;
  border-radius:50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader_second {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 190px;
  height: 190px;
  margin: -168px 0 0 -95px;
  border: 3px solid transparent;
  border-top-color: #35393C;
  z-index: 1033;
  border-radius:50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader_second:before{
  content:"";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #7A918D;
  border-radius:50%;
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/*end of spinner*/
/*wrapper*/
#loader-container .loader-section {
  position:fixed;
  top: 0px;
  width: 51%;
  height: 100%;
  background:#000000;
  z-index:1031;
}
#loader-container .loader-section.section-left {
  left:0px;
}
#loader-container .loader-section.section-right {
  right:0px;
}
/*end of wrapper*/
/*loaded animations*/
.loaded #loader-container .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-container .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader,.loaded #loader_second{
  opacity:0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.loaded #loader-container .loader-section.section-right,
.loaded #loader-container .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-container {
        visibility:hidden;
}
/*end loaded animations*/
